.board-container
  width: 85%
  margin: 0 auto

  h1
    color: #f9802d;
    text-align: center

  .board-blog
    display: flex
    justify-content: center

    .board-pic
        height 100px
        margin: 0

